/LjDataAccess/obj
/LjWebApplication/bin
/LjWebApplication/obj
/LjWebApplication/Logs
/LjData/obj
/.vs
/LjData/bin
/LjDataAccess/bin
Properties
/LjWebApplication/appsettings.Development.json
/LjWebApplication/LjWebApplication.csproj.user
/LjWebApplication/web.config
/LjWebApplication.Test/obj
